<!DOCTYPE html>
<html ng-app='ngWerewolf'>

  <head>
    <link rel="stylesheet" type="text/css" href="ngWerewolf.css">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <title>Fourteener's Hallowerewolf !</title>
  </head> 

  <body ng-controller="cardCtrl">
    <div id="gameContainer">
      <div class="character" ng-class="{'selected':character.selected}" ng-repeat="character in characters" >
        <img src="{{character.picture}}" ng-click="pick(character)">
      </div>
    </div>

    </div>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <!-- <script src="angular.min.js"></script> -->
    <script src="ngWerewolf.js"></script> 
  </body>

</html>
